/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #1066df;
  --ifm-color-primary-dark: #0e5cc9;
  --ifm-color-primary-darker: #0e57be;
  --ifm-color-primary-darkest: #0b479c;
  --ifm-color-primary-light: #1871ee;
  --ifm-color-primary-lighter: #2478ef;
  --ifm-color-primary-lightest: #458df2;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #558bd8;
  --ifm-color-primary-dark: #3d7ad2;
  --ifm-color-primary-darker: #3072d0;
  --ifm-color-primary-darkest: #275eab;
  --ifm-color-primary-light: #86ace3;
  --ifm-color-primary-lighter: #9ebde9;
  --ifm-color-primary-lightest: #e8effa;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

a.header-github-link {
  background-image: url('/img/github.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 24px;
  height: 24px;
  display: inline-block;
  margin: 4px;
}

html[data-theme='dark'] a.header-github-link {
  background-image: url('/img/github-light.svg');
}

a.header-github-link > svg {
  display: none;
}
